<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Admin</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a (click)="verf()" aria-expanded="false">Verify User</a>
      </li>
      <li>
        <a (click)="ban()" aria-expanded="false">Ban User</a>
      </li>
      <li>
        <a (click)="member()" aria-expanded="false">MemberShip</a>
      </li>
      <li>
        <a (click)="adTree()" aria-expanded="false">Add Trees</a>
      </li>
      <li>
        <a (click)="coach()" aria-expanded="false">Add Coaches</a>
      </li>
      <li>
        <a (click)="feedback()" aria-expanded="false">Users Feedbacks</a>
      </li>
      <li>
        <a (click)="report()" aria-expanded="false">Users Reports</a>
      </li>
      <li>
        <a (click)="post()" aria-expanded="false">Posts</a>
      </li>
    </ul>
    <ul class="list-unstyled CTAs">
      <li>
        <a (click)="goback()" class="download">LogOut</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content Holder -->
  <div id="content">
    <div class="container">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="margin-left: 10%; margin-right: -27%;"
      >
        <a>Verification</a>
      </nav>
    </div>
    <div class="line">
      <!-- Table with panel -->
      <div class="card card-cascade narrower left">
        <!--Card image-->
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
        >
          <a class="white-text mx-3">Student Verification</a>
        </div>
        <!--/Card image-->
        <div class="px-4">
          <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0">
              <!--Table head-->
              <thead>
                <tr>
                  <th class="th-lg">
                    <a>
                      Name
                      <i class="fas fa-sort ml-1"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a>Verify </a>
                  </th>
                  <th class="th-lg">
                    <a>Reject </a>
                  </th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody *ngFor="let element of NonValidStudents">
                <tr>
                  <td>{{ this.element?.username }}</td>
                  <th>
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="verifie(this.element?.username)"
                    >
                      Verify
                    </button>
                  </th>
                  <th>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="reject(this.element?.username)"
                    >
                      Reject
                    </button>
                  </th>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
        </div>
      </div>
      <!-- Table with panel -->
      <!-- Table with panel -->
      <div class="card card-cascade narrower center">
        <!--Card image-->
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
        >
          <a href="" class="white-text mx-3">Company Verification</a>
        </div>
        <!--/Card image-->
        <div class="px-4">
          <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0">
              <!--Table head-->
              <thead>
                <tr>
                  <th class="th-lg">
                    <a>
                      Name
                      <i class="fas fa-sort ml-1"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a>Verify </a>
                  </th>
                  <th class="th-lg">
                    <a>Reject </a>
                  </th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody *ngFor="let element of NonValidCompanies">
                <tr>
                  <td>{{ this.element?.name }}</td>
                  <th>
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="verifieCompanies(this.element?.name)"
                    >
                      Verify
                    </button>
                  </th>
                  <th>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="rejectCompanies(this.element?.name)"
                    >
                      Reject
                    </button>
                  </th>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
        </div>
      </div>
      <!-- Table with panel -->
      <!-- Table with panel -->
      <div class="card card-cascade narrower right">
        <!--Card image-->
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
        >
          <a href="" class="white-text mx-3">Training Center Verification</a>
        </div>
        <!--/Card image-->
        <div class="px-4">
          <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0">
              <!--Table head-->
              <thead>
                <tr>
                  <th class="th-lg">
                    <a>
                      Name
                      <i class="fas fa-sort ml-1"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a>Verify </a>
                  </th>
                  <th class="th-lg">
                    <a>Reject </a>
                  </th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody *ngFor="let element of NonValidCenters">
                <tr>
                  <td>{{ this.element?.name }}</td>
                  <th>
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="verifieCenter(this.element?.name)"
                    >
                      Verify
                    </button>
                  </th>
                  <th>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="rejectCenter(this.element?.name)"
                    >
                      Reject
                    </button>
                  </th>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
        </div>
      </div>
      <!-- Table with panel -->
    </div>
  </div>
</div>
